services:
    neo4j:
        image: neo4j:5
        container_name: sixdegrees-neo4j
        ports:
            - "7474:7474" # HTTP for Neo4j Browser
            - "7687:7687" # Bolt protocol
        environment:
            - NEO4J_AUTH=${NEO4J_USERNAME}/${NEO4J_PASSWORD}
        volumes:
            - neo4j_data:/data
        networks:
            - sixdegrees
        healthcheck:
            test:
                [
                    "CMD",
                    "wget",
                    "--quiet",
                    "--tries=1",
                    "--spider",
                    "http://localhost:7474",
                ]
            interval: 5s
            timeout: 60s
            retries: 10
            start_period: 10s

    backend:
        image: org.kidoni/sixdegrees:0.0.1-SNAPSHOT
        container_name: sixdegrees-backend
        ports:
            - "8080:8080"
        environment:
            - TMDB_ACCESS_TOKEN=${TMDB_ACCESS_TOKEN}
            - NEO4J_URI=bolt://neo4j:7687
            - NEO4J_USERNAME=${NEO4J_USERNAME}
            - NEO4J_PASSWORD=${NEO4J_PASSWORD}
        depends_on:
            neo4j:
                condition: service_healthy
        networks:
            - sixdegrees

    frontend:
        build:
            context: ./web
            dockerfile: Dockerfile
        container_name: sixdegrees-frontend
        ports:
            - "80:80"
        depends_on:
            - backend
        networks:
            - sixdegrees
        healthcheck:
            test:
                [
                    "CMD",
                    "sh",
                    "-c",
                    "wget --quiet --tries=1 --spider http://localhost/ && wget --quiet --tries=1 --spider http://backend:8080/actuator/health"
                ]
            interval: 30s
            timeout: 3s
            retries: 3
            start_period: 10s

networks:
    sixdegrees:
        driver: bridge

volumes:
    neo4j_data:
